@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styling */
@import url("https://fonts.googleapis.com/css?family=Biryani:400,700,900&display=swap");

.font-biryani {
  font-family: "Biryani", sans-serif;
  font-weight: 400;
}

.font-biryani-medium {
  font-family: "Biryani", sans-serif;
  font-weight: 700;
}

.font-biryani-bold {
  font-family: "Biryani", sans-serif;
  font-weight: 900;
}

.landing-container {
  background-image: linear-gradient(
      45deg,
      rgba(32, 19, 19, 0.73),
      rgba(38, 40, 194, 0.52)
    ),
    url("https://images.unsplash.com/photo-1546707012-c46675f12716?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.primary-button:hover {
  animation: primaryButtonHoverAnimation 0.3s;
}

@keyframes primaryButtonHoverAnimation {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.red-gradient {
  background: linear-gradient(rgb(238, 103, 103), rgb(212, 37, 37));
}

:root {
  --main-bg: #fefefe;
}

:root[data-theme="dark"] {
  --main-bg: #232323;
}

body {
  background: var(--main-bg);
}
